.card3 {
  height: 95px;
  width: 115px;
  margin-bottom: 30px;
}
.card {
  border: 0 !important;
}
.center-card {
  width: 41%;
}

section {
  color: white;
}
.play-icon-box {
  right: 630px;
  top: 370px;
  position: absolute;
  height: 255px;
  width: 210px;
}
