<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="box">
        <h3 class="d-flex justify-content-center m-2">Pre-Qualify Today!</h3>
        <img
          class="d-flex justify-content-center"
          src="https://www.destinycard.com/static/media/DSY_Destiny-Modern-Blue-(002).8455f965.png"
          alt=""
        />
        <p class="blockquote fs-6 mt-2" id="para1">
          <span> &check; </span> TickTakes seconds to receive your offer
        </p>
        <p class="blockquote fs-6" id="para1">
          <span> &check; </span> TickWon’t impact your credit score to see if
          you pre-qualify
        </p>
        <form>
          <div class="form-group">
            <input class="form-control m-3" type="text" placeholder="Name" />
            <input class="form-control m-3" type="text" placeholder="Address" />
            <input class="form-control m-3" type="text" placeholder="Email" />
            <input
              class="form-control m-3"
              type="text"
              placeholder="Phone Number"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
